.check-box > .box {
	-fx-background-color: #62605D;
}
.button, .choice-box {
	-fx-background-color: #62605D;
	-fx-text-fill: #E7E7E7;
}
.check-box, .label {
	-fx-text-fill: #E7E7E7;
}
.check-box:selected > .box > .mark {
	-fx-background-color: #E7E7E7;
	-fx-shape: "M0,5H2L4,8L8,0H10L5,10H3Z";
}
.choice-box > .open-button > .arrow {
	-fx-background-color: #E7E7E7;
}
.content {
	-fx-background-color: transparent;
}
.context-menu {
	-fx-background-color: #2E2D29;
	-fx-focused-mark-color: #E7E7E7;
	-fx-mark-color: #E7E7E7;
}
.menu-item:focused {
	-fx-background-color: #62605D;
}
.root {
	-fx-background-color: #272521;
}
.text {
	-fx-font-smoothing-type: gray;
}
.text-area, .text-field {
	-fx-background-color: #2E2D29;
	-fx-text-fill: #E7E7E7;
}
.viewport {
	-fx-background-color: transparent;
}
